[Unit]
After=network.service mongod.service

[Service]
Type=simple
User=dev
Group=dev
WorkingDirectory={PATH}
ExecStart={PATH}/start.sh {PORT}
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier={NAME}

[Install]
WantedBy=multi-user.target
